/* Normal */
.Title-1{
  font-weight: 400;
  font-size: $xxlg;
}
.Title-2{
  font-weight: 400;
  font-size: $xlg;
}
.Title-3{
  font-weight: 400;
  font-size: $lg;
}
.Title-4{
  font-weight: 400;
  font-size: $m;
}
.Paragraph{
  font-weight: 400;
  font-size: $s;
}
.Small{
  font-weight: 400;
  font-size: $xs;
}

/* Bold */
.Title-1-bold{
  font-weight: 700;
  font-size: $xxlg;
}
.Title-2-bold{
  font-weight: 700;
  font-size: $xlg;
}
.Title-3-bold{
  font-weight: 700;
  font-size: $lg;
}
.Title-4-bold{
  font-weight: 700;
  font-size: $m;
}
.Paragraph-bold{
  font-weight: 700;
  font-size: $s;
}
.Small-bold{
  font-weight: 700;
  font-size: $xs;
}