/* Container */
.l-container{
  display: block;
  width: 100%;
  height: auto;
  padding: $Pd-Mobile;
}
.l-contain{
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: $Secure;
}
@include mq($Tablet){
  .l-container{
    padding: $Pd-Tablet;
  }
}

@include mq($Desktop){
  .l-container{
    padding: $Pd-Desktop;
  }
}

/* Grid */
.l-gridAutoFit{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(226px,1fr));
  grid-gap: 15px;
}

@include mq($Desktop){
  .l-gridAutoFit{
    grid-gap: 20px;
  }
}