/* Colors */
$Bg-Primary: #0F0F10;
$Bg-Secondary: #1B1C22;
$Bg-Container: #23242A;
$Light: #FFFFFF;
$Hover-Light: rgba(255,255,255,0.2);
$Green: #B7EEA1;
$LightBlue: #1DDECE;
$Blue-Hover: #1F746D;

/* Font-Sizes */
$xs: 12px;
$s: 14px;
$m: 16px;
$lg: 18px;
$xlg: 24px;
$xxlg: 30px;

/* Shadows */
$Shadow-Valid: 0 0 7px 2px #5ae258d5;
$Shadow-Invalid: 0 0 7px 2px #f33434d5;
$Shadow-Container: 4px 4px 10px 0.5px rgba(143,143,143,0.25);

/* Breakpoints */
/* Colocar Estos breakpoints en los util/setSliderMq.js!!! */
$Secure: 1366px;
$Tablet: 500px;
$Desktop: 1000px;

/* Padding */
$Pd-Mobile: 0 15px;
$Pd-Tablet: 0 30px;
$Pd-Desktop: 0 40px;