/* Colors */
$Bg-Primary: #0F0F10;
$Bg-Secondary: #1B1C22;
$Bg-Container: #23242A;
$Light: #FFFFFF;
$Hover-Light: rgba(255,255,255,0.2);
$Green: #B7EEA1;
$LightBlue: #1DDECE;
$Blue-Hover: #1F746D;

/* Font-Sizes */
$xs: 12px;
$s: 14px;
$m: 16px;
$lg: 18px;
$xlg: 24px;
$xxlg: 36px;

/* Shadows */
$Shadow-Valid: 0 0 10px 2px #5AE258;
$Shadow-Invalid: 0 0 10px 2px #F33434;
$Shadow-Container: 4px 4px 10px 0.5px rgba(143,143,143,0.25);

/* Breakpoints */
$Secure: 1366px;