.CategoryList{
  margin-top: 20px;
  .l-contain{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    .CategoryCard{
      width: 100%;
      height: 250px;
      background-color: blue;
    }
  }
}

@include mq(768px){
  .CategoryList{
    .l-contain{
      .CategoryCard:last-child{
        display: none;
      }
    }
  }
}
@include mq(1044px){
  .CategoryList{
    .l-contain{
      .CategoryCard:last-child{
        display: block;
      }
    }
  }
}