.Footer{
  background-color: $Bg-Container;
  .l-contain{
    padding: 35px 0;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  &__List{
    padding: 0 10px;
    width: 100%;
  }
  &__ListName{
    text-align: center;
    margin-bottom: 10px;
  }
  &__Item{
    text-align: center;
    padding: 5px 0;
  }
  a .Footer__Item{
    transition: .3s all;
  }
  a .Footer__Item:hover{
    color: $LightBlue;
  }
}
@include mq($Tablet){
  .Footer{
    .l-contain{
      grid-template-columns: 1fr 1fr;
    }
    &__ListName{
      text-align: left;
    }
    &__Item{
      text-align: left;
    }
  }
}
@include mq(800px){
  .Footer{
    .l-contain{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}