.Head{
  height: 70px;
  background-color: $Bg-Container;
  display: none;
  z-index: 2;
  .l-contain{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@include mq($Desktop){
  .Head{
    display: block;
  }
}