.Purchases{
  width: 100%;
  border: 1px solid $Light;
  overflow-x: auto;
  &__Content{
    width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr 180px 120px;
    min-width: 745px;
    align-items: center;
  }
  .empty-text{
    grid-column: 1 / 5;
    padding: 15px 20px;
  }
  .empty{
    align-self: stretch;
  }
  &__ItemHead{
    padding: 15px 20px;
    background-color: $Hover-Light;
  }
  &__Item{
    padding: 15px 20px;
  }
  .Icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    i{
      margin: 0;
    }
  }
}

.ModalSwal{
  width: 90%;
  max-width: 810px;
  overflow-x: auto;
}

.ModalPurchase{
  *{
    color: black;
  }
}

.ProductsTable{
  width: 750px;
  border: 1px solid black;
  overflow-x: auto;
  &__Content{
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 130px 150px;
    min-width: 745px;
  }
  &__HeadItem{
    padding: 15px 20px;
    background-color: rgba(0,0,0,.2);
  }
  &__Item{
    padding: 15px 20px;
  }
}