.HeadMobActions{
  height: 100%;
  display: flex;
  align-items: center;
  &__User{
    height: 100%;
    @include flexCenter;
    padding: 0 10px;
    i{
      color: $Light;
    }
  }
  &__UserImg{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    background-color: $Hover-Light;
    @include flexCenter;
    img{
      max-width: 100%;
      max-height: 100%;
    }
    p{
      color: $Light;
    }
  }
  &__Cart{
    height: 100%;
    @include flexCenter;
    padding: 0 15px;
    position: relative;
    i{
      color: $Light;
    }
  }
  &__CartNumber{
    position: absolute;
    background-color: $Blue-Hover;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    @include flexCenter;
    top: 6px;
    right: 2px;
    p{
      color: $Light;
    }
  }
}