.Subtitle{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__Name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .STbar{
      width: 5px;
      height: 30px;
      background-color: $Light;
      margin-right: 5px;
    }
  }
  &__SeeAll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    i{
      color: $Light;
      margin-left: 5px;
    }
  }
}

@include mq($Tablet){
  .Subtitle{
    &__Name{
      h2{ 
        font-size: $xlg;
      }
      .STbar{
        height: 40px;
        margin-right: 15px;
      }
    }
    &__SeeAll{
      p{
        font-size: $lg;
      }
    }
  }
}

@include mq($Desktop){
  .Subtitle{
    &__Name{
      h2{
        font-size: $xxlg;
      }
    }
    &__SeeAll{
      p{
        font-size: $xlg;
      }
    }
  }
}