/* Inverted Triangle architecture for CSS ( ITCSS ) */
/* Settings */
/* Colors */
/* Font-Sizes */
/* Shadows */
/* Breakpoints */
/* Colocar Estos breakpoints en los util/setSliderMq.js!!! */
/* Padding */
/* Tools */
/* Generic and Elements */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Generic */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Elements */
html {
  min-height: 100%;
  background-color: #0F0F10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

p, span, a, label {
  font-weight: 400;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

img, input, svg, div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #616161;
  box-shadow: inset 0 0 5px #616161;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #686868;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #464646;
}

/* Objects */
/* Container */
.l-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 0 15px;
}

.l-contain {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 1366px;
}

@media screen and (min-width: 500px) {
  .l-container {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1000px) {
  .l-container {
    padding: 0 40px;
  }
}

/* Grid */
.l-gridAutoFit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(226px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(226px, 1fr));
  grid-gap: 15px;
}

@media screen and (min-width: 1000px) {
  .l-gridAutoFit {
    grid-gap: 20px;
  }
}

/* Normal */
.Title-1 {
  font-weight: 400;
  font-size: 30px;
}

.Title-2 {
  font-weight: 400;
  font-size: 24px;
}

.Title-3 {
  font-weight: 400;
  font-size: 18px;
}

.Title-4 {
  font-weight: 400;
  font-size: 16px;
}

.Paragraph {
  font-weight: 400;
  font-size: 14px;
}

.Small {
  font-weight: 400;
  font-size: 12px;
}

/* Bold */
.Title-1-bold {
  font-weight: 700;
  font-size: 30px;
}

.Title-2-bold {
  font-weight: 700;
  font-size: 24px;
}

.Title-3-bold {
  font-weight: 700;
  font-size: 18px;
}

.Title-4-bold {
  font-weight: 700;
  font-size: 16px;
}

.Paragraph-bold {
  font-weight: 700;
  font-size: 14px;
}

.Small-bold {
  font-weight: 700;
  font-size: 12px;
}

.ModalCharge {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ModalCharge i {
  color: #FFFFFF;
}

/* Components */
/* Atoms */
.Button-Primary {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #19968b;
  color: #FFFFFF;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

.Button-Primary i {
  margin-right: 15px;
  color: #FFFFFF;
}

.Button-Primary:hover {
  background-color: #103835;
}

.Button-Outline {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #FFFFFF;
  background: none;
  border-radius: 10px;
  color: #FFFFFF;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

.Button-Outline i {
  -webkit-transition: .3s all;
  transition: .3s all;
  margin-right: 15px;
  color: #FFFFFF;
}

.Button-Outline:hover {
  background-color: #FFFFFF;
  color: #0F0F10;
}

.Button-Outline:hover i {
  color: #0F0F10;
}

.Button-Small {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #FFFFFF;
  background: none;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Button-Small i {
  color: #FFFFFF;
}

.Button-Small:hover {
  background-color: #19968b;
}

.Button-Map {
  background: none;
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -ms-grid-columns: 36px 1fr;
      grid-template-columns: 36px 1fr;
  grid-gap: 8px;
  padding: 3px 7px;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Button-Map i {
  color: #FFFFFF;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Button-Map p {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 17px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Button-Map:hover {
  background: #FFFFFF;
}

.Button-Map:hover p {
  color: #0F0F10;
}

.Button-Map:hover i {
  color: #0F0F10;
}

.Input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: #0F0F10;
  padding: 0 15px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Input:focus:valid {
  -webkit-box-shadow: 0 0 7px 2px #5ae258d5;
          box-shadow: 0 0 7px 2px #5ae258d5;
}

.Input:focus:invalid {
  -webkit-box-shadow: 0 0 7px 2px #f33434d5;
          box-shadow: 0 0 7px 2px #f33434d5;
}

/* Molecules */
.StaticInfo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.StaticInfo__Item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.StaticInfo__Item i {
  margin-right: 10px;
  color: #FFFFFF;
}

.StaticInfo__Item p {
  color: #FFFFFF;
}

.StaticSocial {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.StaticSocial__Item {
  margin-left: 20px;
}

.StaticSocial__Item i {
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #FFFFFF;
}

.StaticSocial__Item:hover i {
  color: #19968b;
}

.Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav__Logo {
  margin-right: 15px;
}

.Nav__Logo img {
  width: 117px;
}

.Nav__Item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
  position: relative;
}

.Nav__Item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.Nav__Item.is-active {
  background-color: rgba(255, 255, 255, 0.2);
}

.Nav__Item:hover .DropBox {
  display: -ms-grid;
  display: grid;
}

.Nav__Item .DropBox {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 300px;
  background-color: #23242A;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.Nav__Item .DropBox__Item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Nav__Item .DropBox__Item p {
  color: #FFFFFF;
}

.Nav__Item .DropBox__Item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.HeadActions {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HeadActions__User {
  padding: 0 15px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.HeadActions__User i {
  color: #FFFFFF;
  margin-right: 10px;
}

.HeadActions__User p {
  color: #FFFFFF;
}

.HeadActions__UserImg {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.HeadActions__UserImg img {
  max-width: 100%;
  max-height: 100%;
}

.HeadActions__User:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.HeadActions__Cart {
  height: 100%;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.HeadActions__Cart i {
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #FFFFFF;
}

.HeadActions__Cart:hover i {
  color: #19968b;
}

.HeadActions__CartNumber {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #103835;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 13px;
  right: -13px;
}

.HeadMobActions {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HeadMobActions__User {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

.HeadMobActions__User i {
  color: #FFFFFF;
}

.HeadMobActions__UserImg {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HeadMobActions__UserImg img {
  max-width: 100%;
  max-height: 100%;
}

.HeadMobActions__UserImg p {
  color: #FFFFFF;
}

.HeadMobActions__Cart {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  position: relative;
}

.HeadMobActions__Cart i {
  color: #FFFFFF;
}

.HeadMobActions__CartNumber {
  position: absolute;
  background-color: #103835;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 6px;
  right: 2px;
}

.HeadMobActions__CartNumber p {
  color: #FFFFFF;
}

.NavMobile {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
  -webkit-box-shadow: 4px 4px 10px 0.5px rgba(143, 143, 143, 0.25);
          box-shadow: 4px 4px 10px 0.5px rgba(143, 143, 143, 0.25);
}

.NavMobile__Social {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.NavMobile__Social a {
  margin-right: 25px;
}

.NavMobile__Social i {
  color: #FFFFFF;
}

.NavMobile__Social a:last-child {
  margin-right: 0;
}

.NavMobile__List {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.NavMobile__Item {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.NavMobile__Item.is-active {
  background-color: rgba(255, 255, 255, 0.2);
}

.NavMobile__Item.is-grid {
  width: 100%;
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60px;
      grid-template-columns: 1fr 60px;
  position: relative;
  padding: 0;
}

.NavMobile__Item.is-grid .NBItemName {
  width: 100%;
  height: 100%;
  padding: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NavMobile__Item.is-grid .DropButton {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.NavMobile__Item.is-grid .DropButton input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
}

.NavMobile__Item.is-grid .DropButton i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #FFFFFF;
}

.NavMobile__Item.is-grid .DropButton input[type="checkbox"]:checked ~ i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.NavMobile .DropBox {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  max-height: 0;
  overflow: hidden;
}

.NavMobile .DropBox__Item {
  width: 100%;
  padding: 10px 20px 10px 40px;
}

.NavButton {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  position: relative;
}

.NavButton .NBcheck, .NavButton .NBbars, .NavButton .NBclose {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.NavButton .NBcheck {
  z-index: 2;
  opacity: 0;
}

.NavButton .NBbars, .NavButton .NBclose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.NavButton .NBbars i, .NavButton .NBclose i {
  color: #FFFFFF;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.NavButton .NBclose i {
  opacity: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.NavButton .NBbars i {
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.NavButton .NBcheck:checked ~ .NBbars i {
  opacity: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.NavButton .NBcheck:checked ~ .NBclose i {
  opacity: 1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.NavButton .NBcontainer {
  position: absolute;
  width: 300px;
  height: calc( 100vh - 50px);
  background-color: #23242A;
  top: 100%;
  right: -320px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.NavButton .NBcheck:checked ~ .NBcontainer {
  right: -15px;
}

@media screen and (min-width: 500px) {
  .NavButton .NBcontainer {
    right: -335px;
  }
  .NavButton .NBcheck:checked ~ .NBcontainer {
    right: -30px;
  }
}

#BgMobNav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.Subtitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Subtitle__Name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Subtitle__Name .STbar {
  width: 5px;
  height: 30px;
  background-color: #FFFFFF;
  margin-right: 5px;
}

.Subtitle__SeeAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Subtitle__SeeAll i {
  color: #FFFFFF;
  margin-left: 5px;
}

@media screen and (min-width: 500px) {
  .Subtitle__Name h2 {
    font-size: 24px;
  }
  .Subtitle__Name .STbar {
    height: 40px;
    margin-right: 15px;
  }
  .Subtitle__SeeAll p {
    font-size: 18px;
  }
}

@media screen and (min-width: 1000px) {
  .Subtitle__Name h2 {
    font-size: 30px;
  }
  .Subtitle__SeeAll p {
    font-size: 24px;
  }
}

.CategoryCard {
  width: 100%;
  background-color: #23242A;
  border-radius: 15px;
  padding: 10px 10px 0;
}

.CategoryCard__Img {
  width: 100%;
  border-radius: 15px;
}

.CategoryCard__Name {
  width: 100%;
  padding: 7px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CategoryCard__Name p {
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .CategoryCard__Name p {
    font-size: 24px;
  }
}

.StaticTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.StaticTitle__Name {
  text-align: center;
}

.StaticTitle__Bar {
  width: 100px;
  height: 5px;
  background-color: #FFFFFF;
  margin-top: 10px;
}

@media screen and (min-width: 1000px) {
  .StaticTitle__Name {
    font-size: 30px;
  }
}

.ProductCard {
  width: 100%;
  padding: 10px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border-radius: 15px;
  background-color: #23242A;
  grid-gap: 7px;
  cursor: pointer;
}

.ProductCard img {
  width: 100%;
  border-radius: 15px;
}

.ProductCard .Title-3-bold {
  width: 100%;
  text-align: center;
}

.ProductCard .Title-2-bold {
  width: 100%;
  text-align: center;
  color: #B7EEA1;
  position: relative;
}

.ProductCard__Discount {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: #19968b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
}

.CartCard {
  width: 100%;
  border-radius: 15px;
  padding: 10px;
  background-color: #23242A;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 8px;
}

.CartCard__Img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CartCard__Img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.CartCard__Img img {
  width: 100%;
  border-radius: 10px;
}

.CartCard__Contain {
  position: relative;
  padding-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CartCard__Delete {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #EB5757;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.CartCard__Delete:hover {
  -webkit-transform: scale(1.1) rotate(2deg);
          transform: scale(1.1) rotate(2deg);
}

.CartCard__Price {
  color: #B7EEA1;
  position: absolute;
  top: 0;
  right: 0;
}

.CartCard__Discount {
  font-size: 12px;
  color: #EB5757;
  position: absolute;
  top: 25px;
  right: 0;
}

.CartCard__Name {
  margin-bottom: 10px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.CartCard__Name:hover {
  color: #19968b;
}

.CartCard__Amount {
  position: relative;
  width: 100%;
  height: 30px;
  max-width: 150px;
}

.CartCard__Amount p {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  color: #0F0F10;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.CartCard__Amount button {
  position: absolute;
  top: 2px;
  height: 26px;
  border-radius: 3px;
  border: 1px solid #0F0F10;
  width: 20px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.CartCard__Amount button i {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.CartCard__Amount button:hover {
  background-color: #0F0F10;
}

.CartCard__Amount button:hover i {
  color: #FFFFFF;
}

.CartCard__Minus {
  left: 2px;
}

.CartCard__Plus {
  right: 2px;
}

@media screen and (max-width: 550px) {
  .CartCard {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .CartCard__Contain {
    padding: 0;
  }
  .CartCard__Name {
    width: 100%;
    text-align: center;
  }
  .CartCard__Price {
    position: relative;
    top: 0;
    text-align: center;
    left: 0;
  }
  .CartCard__Discount {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
  }
}

.Summary {
  width: 100%;
}

.Summary__Content {
  padding: 20px 15px;
  border-radius: 15px;
  background-color: #23242A;
}

.Summary__Contain {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.Summary__Title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.Summary__Title .Title-2 {
  color: #19968b;
}

.Summary__Item {
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr 80px;
      grid-template-columns: 30px 1fr 80px;
  grid-gap: 5px;
}

.Summary__Item p:first-child {
  text-align: center;
}

.Summary__Item p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.Summary__Item p:last-child {
  color: #B7EEA1;
  text-align: right;
}

.Summary .Button-Primary {
  margin-top: 20px;
}

@media screen and (min-width: 500px) {
  .Summary__Item p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1000px) {
  .Summary {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
  }
  .Summary__Item {
    -ms-grid-columns: 30px 1fr 90px;
        grid-template-columns: 30px 1fr 90px;
  }
}

/* Organisms */
.StaticHead {
  display: none;
  height: 50px;
}

.StaticHead .l-contain {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1000px) {
  .StaticHead {
    display: block;
  }
}

.Head {
  height: 70px;
  background-color: #23242A;
  display: none;
  z-index: 2;
}

.Head .l-contain {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1000px) {
  .Head {
    display: block;
  }
}

.HeadMobile {
  height: 50px;
  background-color: #23242A;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
}

.HeadMobile .l-contain {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.HeadMobile__Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HeadMobile__Logo img {
  height: 35px;
}

@media screen and (min-width: 1000px) {
  .HeadMobile {
    display: none;
  }
}

.Slider {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.Slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.Slider img:first-child {
  position: relative;
  width: 100%;
  height: auto;
}

.Slider__Left, .Slider__Right {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.Slider__Left i, .Slider__Right i {
  color: #FFFFFF;
  text-shadow: 0px 0px 7px black;
}

.Slider__Left {
  left: 0;
}

.Slider__Right {
  right: 0;
}

.Slider__ControlBox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Slider__Controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Slider__Control {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 5px 1.5px black;
          box-shadow: 0 0 5px 1.5px black;
  -webkit-transition: .5s all;
  transition: .5s all;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.Slider__Control:last-child {
  margin-right: 0;
}

.Slider__Control.is-active {
  background-color: #103835;
}

@media screen and (min-width: 500px) {
  .Slider__Left, .Slider__Right {
    width: 70px;
  }
}

.CategoryList {
  margin-top: 20px;
}

.CategoryList .l-contain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

@media screen and (min-width: 768px) {
  .CategoryList .l-contain .CategoryCard:last-child {
    display: none;
  }
}

@media screen and (min-width: 1044px) {
  .CategoryList .l-contain .CategoryCard:last-child {
    display: block;
  }
}

.Brands .l-contain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
}

.Brands__Box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Brands__Item {
  padding: 15px 30px;
}

@media screen and (min-width: 452px) {
  .Brands__Box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 825px) {
  .Brands__Box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 821px;
    margin: 0 auto;
  }
}

.Advantage .l-contain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

.Advantage__Box {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.Advantage__Item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
  max-width: 380px;
  margin: 0 auto;
}

.Advantage__ItemIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.Advantage__ItemText .Paragraph-bold {
  margin-bottom: 5px;
}

.Advantage__ItemText p {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .Advantage__Box {
    -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .Advantage__Item {
    -ms-grid-columns: 120px 1fr;
        grid-template-columns: 120px 1fr;
  }
  .Advantage__ItemText {
    text-align: left;
  }
}

.Footer {
  background-color: #23242A;
}

.Footer .l-contain {
  padding: 35px 0;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

.Footer__List {
  padding: 0 10px;
  width: 100%;
}

.Footer__ListName {
  text-align: center;
  margin-bottom: 10px;
}

.Footer__Item {
  text-align: center;
  padding: 5px 0;
}

.Footer a .Footer__Item {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Footer a .Footer__Item:hover {
  color: #19968b;
}

@media screen and (min-width: 500px) {
  .Footer .l-contain {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .Footer__ListName {
    text-align: left;
  }
  .Footer__Item {
    text-align: left;
  }
}

@media screen and (min-width: 800px) {
  .Footer .l-contain {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.LogNav {
  height: 70px;
  background-color: #23242A;
  position: fixed;
  top: 0;
  left: 0;
}

.LogNav .l-contain {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.LogNav .l-contain img {
  width: 117px;
}

.Productlist .l-contain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

@media screen and (min-width: 768px) {
  .Productlist .l-contain .ProductCard:last-child {
    display: none;
  }
}

@media screen and (min-width: 1044px) {
  .Productlist .l-contain .ProductCard:last-child {
    display: -ms-grid;
    display: grid;
  }
}

.Product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.Product__Slider {
  width: 100%;
  height: auto;
}

.Product__Slider img {
  border-radius: 15px;
}

.Product__Info {
  width: 100%;
  border-radius: 15px;
  padding: 25px;
  background-color: #23242A;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.Product__Info .is-price {
  color: #B7EEA1;
  position: relative;
}

.Product__Info .Input {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Product__Details {
  width: 100%;
  border-radius: 15px;
  padding: 25px;
  background-color: #23242A;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

.Product__Details .Switch {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.Product__Details .Switch__Item {
  position: relative;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

.Product__Details .Switch__Bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #FFFFFF;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Product__Details .Switch__Bar.is-active {
  width: 100%;
}

.Product__Details .PD {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

.Product__Details .PD__Section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 5px;
}

.Product__Details .PD__Title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
}

.Product__Details .PD__Paragraph {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
}

.Product__Details .PF {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border: 1px solid #FFFFFF;
}

.Product__Details .PF__Item {
  border-bottom: 1px solid #FFFFFF;
}

.Product__Details .PF__Item:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}

.Product__Details .PF__Item:last-child {
  border-bottom: none;
}

.Product__Details .PF__Key {
  border-bottom: 1px solid #FFFFFF;
}

.Product__Details .PF__Key, .Product__Details .PF__Value {
  padding: 8px 10px;
}

@media screen and (min-width: 768px) {
  .Product {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 15px;
  }
  .Product__Details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .Product__Details .Switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Product__Details .Switch__Item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: auto;
  }
  .Product__Details .Switch__Item:first-child {
    margin-right: 30px;
  }
  .Product__Details .PF__Item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 1fr;
        grid-template-columns: 250px 1fr;
  }
  .Product__Details .PF__Key {
    border-bottom: none;
    border-right: 1px solid #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Product__Details .PF__Key .Paragraph-bold {
    font-size: 18px;
  }
  .Product__Details .PF__Value {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Product__Details .PF__Value .Paragraph {
    font-size: 16px;
  }
  .Product__Info {
    -ms-grid-column: 8;
    -ms-grid-column-span: 5;
    grid-column: 8/13;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .Product__Slider {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

@media screen and (min-width: 1000px) {
  .Product {
    grid-column-gap: 20px;
  }
  .Product__Info .Title-2-bold {
    font-size: 30px;
  }
  .Product__Info .Title-3-bold {
    font-size: 24px;
  }
  .Product__Info .Paragraph-bold {
    font-size: 18px;
  }
}

.Purchases {
  width: 100%;
  border: 1px solid #FFFFFF;
  overflow-x: auto;
}

.Purchases__Content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 1fr 180px 120px;
      grid-template-columns: 120px 1fr 180px 120px;
  min-width: 745px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Purchases .empty-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  padding: 15px 20px;
}

.Purchases .empty {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.Purchases__ItemHead {
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.Purchases__Item {
  padding: 15px 20px;
}

.Purchases .Icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}

.Purchases .Icon i {
  margin: 0;
}

.ModalSwal {
  width: 90%;
  max-width: 810px;
  overflow-x: auto;
}

.ModalPurchase * {
  color: black;
}

.ProductsTable {
  width: 750px;
  border: 1px solid black;
  overflow-x: auto;
}

.ProductsTable__Content {
  width: 100%;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 130px 150px;
      grid-template-columns: 1fr 130px 150px;
  min-width: 745px;
}

.ProductsTable__HeadItem {
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.ProductsTable__Item {
  padding: 15px 20px;
}

/* Pages */
.HomeView {
  padding-top: 50px;
}

.HomeView__Content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1000px) {
  .HomeView {
    padding-top: 0;
  }
}

.LogView {
  padding-top: 70px;
}

.LogView__Form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LogForm {
  width: 100%;
}

.LogForm__Contain {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
}

.LogForm__Break {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.LogForm__Break hr {
  position: absolute;
  height: 1px;
  border: none;
  background-color: #FFFFFF;
  width: 100%;
  left: 0;
  top: calc(50% + 1px);
}

.LogForm__Break .Title-3-bold {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  background-color: #0F0F10;
}

.LogForm__Form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

.LogForm__Link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LogForm__Link p {
  color: #19968b;
}

.LogForm__Footer {
  padding: 10px 20px 15px;
  background-color: rgba(255, 255, 255, 0.2);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.LogForm__Footer p {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .LogView__Form {
    padding: 40px 0;
  }
  .LogForm {
    width: 400px;
    background-color: #23242A;
  }
  .LogForm__Break .Title-3-bold {
    background-color: #23242A;
  }
}

.CategoriesView {
  padding-top: 50px;
}

.CategoriesView__Container {
  padding: 30px 0;
}

@media screen and (min-width: 1000px) {
  .CategoriesView {
    padding-top: 0;
  }
}

.CategoryView {
  padding-top: 50px;
}

.CategoryView__Container {
  padding: 30px 0;
}

@media screen and (min-width: 1000px) {
  .CategoryView {
    padding-top: 0;
  }
}

.ProductView {
  padding-top: 50px;
}

.ProductView__Container {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
}

@media screen and (min-width: 1000px) {
  .ProductView {
    padding-top: 0;
  }
}

.AboutView {
  padding-top: 50px;
}

.AboutView__Content .l-contain {
  padding: 30px 0;
}

@media screen and (min-width: 1000px) {
  .AboutView {
    padding-top: 0;
  }
}

.Who {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

.Who__Content {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 20px;
}

.Who__Section {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-gap: 15px;
}

.QA {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

.QA__Table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.QA__Question {
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.QA__Answer {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
}

@media screen and (min-width: 1000px) {
  .QA .Title-3-bold {
    font-size: 24px;
  }
}

.CartView {
  padding-top: 50px;
}

.CartView__Content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
  padding: 20px 0;
}

.CartBox {
  width: 100%;
}

.CartBox__Content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
}

@media screen and (min-width: 1000px) {
  .CartView {
    padding-top: 0;
  }
  .CartView__Content {
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .CartView__Content .Subtitle:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .CartBox {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
  }
}

.PayView {
  padding-top: 50px;
}

.PayView__Content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 20px;
  padding: 20px 0;
}

.PayView__Form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 15px;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.PayView__Form-Personal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
}

.PayView__Form-Card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
}

.PayView__Form-Card .is-cardDate {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.PayView__Form-Submit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
}

@media screen and (min-width: 500px) {
  .PayView__Form-Personal {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .PayView__Form-Card {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .PayView__Form-Submit {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .PayView__Form-Submit input {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media screen and (min-width: 1000px) {
  .PayView {
    padding-top: 0;
  }
  .PayView__Content {
    grid-gap: 20px;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .PayView__Content .Subtitle:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .PayView__Form {
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1/8;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.AccountView {
  padding-top: 50px;
}

.AccountView__Content {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 20px;
}

.AccountView__Options {
  width: 100%;
}

.AccountView__Options-Content {
  background-color: #23242A;
}

.AccountView__Options-Title {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AccountView__Options-Title .Checkbox {
  position: relative;
  width: 25px;
  height: 25px;
}

.AccountView__Options-Title .Checkbox input, .AccountView__Options-Title .Checkbox i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.AccountView__Options-Title .Checkbox i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  z-index: 1;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.AccountView__Options-Title .Checkbox input {
  opacity: 0;
  cursor: pointer;
}

.AccountView__Options-Title .Checkbox i.fa-plus {
  opacity: 0;
}

.AccountView__Options-Title .Checkbox input:checked ~ i.fa-plus {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 1;
}

.AccountView__Options-Title .Checkbox input:checked ~ i.fa-minus {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0;
}

.AccountView__Options #dropboxProfile {
  max-height: 160px;
  -webkit-transition: .5s all;
  transition: .5s all;
  overflow: hidden;
}

.AccountView__Options .Paragraph {
  height: 40px;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.AccountView__Options .Paragraph:hover {
  background-color: #0F0F10;
  color: #FFFFFF;
}

.AccountView__Options .Paragraph:last-child {
  background-color: #be2424;
  font-weight: bold;
}

.AccountView__Options .Paragraph:last-child i {
  margin-left: 5px;
}

.AccountView__Options .Paragraph:last-child:hover {
  background-color: #610909;
}

.AccountView .Profile {
  width: 100%;
  padding: 20px;
  background-color: #23242A;
  border-radius: 10px;
}

.AccountView .Profile__Content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 15px;
}

.AccountView .Profile__Title {
  text-align: center;
}

.AccountView .Profile__Img {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AccountView .Profile__Img p {
  font-size: 36px;
}

.AccountView .Profile__Img img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.AccountView .Profile__Form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
}

.AccountView .Profile__Form input[type="submit"] {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
}

.AccountView .Profile__Submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AccountView .Profile__ImgButton {
  position: relative;
  width: 100%;
  max-width: 160px;
  margin: 0 auto;
}

.AccountView .Profile__ImgButton input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.AccountView .Profile__ImgButton input[type="file"]:hover ~ button {
  background-color: #FFFFFF;
  color: #0F0F10;
}

.AccountView .Profile__ImgButton input[type="file"]:hover ~ button i {
  color: #0F0F10;
}

@media screen and (min-width: 1000px) {
  .AccountView {
    padding-top: 0;
  }
  .AccountView__Content {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .AccountView__Content .Subtitle {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .AccountView .Profile {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
  }
  .AccountView .Profile__Form {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .AccountView .Profile__Form div:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .AccountView .Profile__Form div:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .AccountView .Profile__Title {
    font-size: 24px;
  }
  .AccountView .Profile__Img {
    width: 150px;
    height: 150px;
  }
}

.Payment {
  width: 100%;
  padding: 100px 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Payment__Container {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  background-color: #FFFFFF;
  position: relative;
}

.Payment__Icon {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Payment__Icon i {
  color: green;
  font-size: 120px;
}

.Payment__Icon i.success {
  color: green;
}

.Payment__Icon i.fail {
  color: red;
}

.Payment .Title-1 {
  color: black;
  text-align: center;
  margin-top: 80px;
}

.Payment .Paragraph {
  margin-top: 10px;
  color: black;
  text-align: center;
}

.Payment__Button {
  margin-top: 30px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=index.css.map */