/* Inverted Triangle architecture for CSS ( ITCSS ) */
/* Settings */
/* Colors */
/* Font-Sizes */
/* Shadows */
/* Breakpoints */
/* Padding */
/* Tools */
/* Generic and Elements */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Generic */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Elements */
html {
  min-height: 100%;
  background-color: #0F0F10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

p, span {
  font-weight: 400;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

img, input, svg, div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

/* Objects */
/* Container */
.l-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 0 15px;
}

.l-contain {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-width: 1366px;
}

@media screen and (min-width: 500px) {
  .l-container {
    padding: 0 30px;
  }
}

@media screen and (min-width: 1000px) {
  .l-container {
    padding: 0 40px;
  }
}

/* Normal */
.Title-1 {
  font-weight: 400;
  font-size: 36px;
}

.Title-2 {
  font-weight: 400;
  font-size: 24px;
}

.Title-3 {
  font-weight: 400;
  font-size: 18px;
}

.Title-4 {
  font-weight: 400;
  font-size: 16px;
}

.Paragraph {
  font-weight: 400;
  font-size: 14px;
}

.Small {
  font-weight: 400;
  font-size: 12px;
}

/* Bold */
.Title-1-bold {
  font-weight: 700;
  font-size: 36px;
}

.Title-2-bold {
  font-weight: 700;
  font-size: 24px;
}

.Title-3-bold {
  font-weight: 700;
  font-size: 18px;
}

.Title-4-bold {
  font-weight: 700;
  font-size: 16px;
}

.Paragraph-bold {
  font-weight: 700;
  font-size: 14px;
}

.Small-bold {
  font-weight: 700;
  font-size: 12px;
}

/* Components */
/* Atoms */
.Button-Primary {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 10px;
  background-color: #1DDECE;
  color: #FFFFFF;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

.Button-Primary i {
  margin-right: 15px;
  color: #FFFFFF;
}

.Button-Primary:hover {
  background-color: #1F746D;
}

.Button-Outline {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #FFFFFF;
  background: none;
  border-radius: 10px;
  color: #FFFFFF;
  -webkit-transition: .3s all;
  transition: .3s all;
  cursor: pointer;
}

.Button-Outline i {
  -webkit-transition: .3s all;
  transition: .3s all;
  margin-right: 15px;
  color: #FFFFFF;
}

.Button-Outline:hover {
  background-color: #FFFFFF;
  color: #0F0F10;
}

.Button-Outline:hover i {
  color: #0F0F10;
}

.Button-Small {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #FFFFFF;
  background: none;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Button-Small i {
  color: #FFFFFF;
}

.Button-Small:hover {
  background-color: #1DDECE;
}

.Button-Map {
  background: none;
  display: -ms-inline-grid;
  display: inline-grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -ms-grid-columns: 36px 1fr;
      grid-template-columns: 36px 1fr;
  grid-gap: 8px;
  padding: 3px 7px;
  border: 2px solid #FFFFFF;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Button-Map i {
  color: #FFFFFF;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Button-Map p {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 17px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Button-Map:hover {
  background: #FFFFFF;
}

.Button-Map:hover p {
  color: #0F0F10;
}

.Button-Map:hover i {
  color: #0F0F10;
}

.Input {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: #0F0F10;
  padding: 0 15px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Input:focus:valid {
  -webkit-box-shadow: 0 0 10px 2px #5AE258;
          box-shadow: 0 0 10px 2px #5AE258;
}

.Input:focus:invalid {
  -webkit-box-shadow: 0 0 10px 2px #F33434;
          box-shadow: 0 0 10px 2px #F33434;
}

/* Molecules */
.StaticInfo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.StaticInfo__Item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.StaticInfo__Item i {
  margin-right: 10px;
  color: #FFFFFF;
}

.StaticInfo__Item p {
  color: #FFFFFF;
}

.StaticSocial {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.StaticSocial__Item {
  margin-left: 20px;
}

.StaticSocial__Item i {
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #FFFFFF;
}

.StaticSocial__Item:hover i {
  color: #1DDECE;
}

.Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav__Logo {
  margin-right: 15px;
}

.Nav__Logo img {
  width: 117px;
}

.Nav__Item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  cursor: pointer;
  -webkit-transition: .3s all;
  transition: .3s all;
  position: relative;
}

.Nav__Item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.Nav__Item.is-active {
  background-color: rgba(255, 255, 255, 0.2);
}

.Nav__Item:hover .DropBox {
  display: -ms-grid;
  display: grid;
}

.Nav__Item .DropBox {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 300px;
  background-color: #23242A;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.Nav__Item .DropBox__Item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.Nav__Item .DropBox__Item p {
  color: #FFFFFF;
}

.Nav__Item .DropBox__Item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Organisms */
.StaticHead {
  display: none;
  height: 50px;
}

.StaticHead .l-contain {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1000px) {
  .StaticHead {
    display: block;
  }
}

.Head {
  height: 70px;
  background-color: #23242A;
}

.Head .l-contain {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Pages */
/*# sourceMappingURL=index.css.map */